<div class="asset-uploader">

  <div class="plupload-dropelement">

    <div class="progress">
      <div class="plupload-progress-bar progress-bar" role="progressbar" style="width: 0%;">
      </div>
    </div>

  </div>

  <a href="#upload" class="btn btn-default plupload-browse">Browse</a>

</div>