<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      {{#link-to 'admin.dashboard' classNames="navbar-brand"}}MomentumCMS Client{{/link-to}}
    </div>

    <nav>

      <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Locale <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{#each locale in currentSite.site.availableLocales}}
              <li role="presentation"><a href="#" {{action 'setLocale' locale}}>{{locale-for locale}}</a></li>
            {{/each}}
          </ul>
        </li>
        {{#link-to 'admin.account' tagName='li'}}<a href='#'>Account</a>{{/link-to}}
        <li><a href="#logout" {{action 'logout'}}>Logout</a></li>
      </ul>

    </nav>

  </div><!-- .container -->

</header>