<p><strong>Navigation</strong></p>
<ul class="nav nav-sidebar">

  {{#link-to 'admin.pages.index' tagName="li"}}
    <a href="#">
      <i class="fa fa-sitemap fa-fw fa-lg"></i>
      Pages
    </a>
  {{/link-to}}

  <li><a href="#"><i class="fa fa-list fa-fw fa-lg"></i> Menus</a></li>

  <li><a href="#"><i class="fa fa-database fa-fw fa-lg"></i> Documents</a></li>

  <li><a href="#"><i class="fa fa-file-code-o fa-fw fa-lg"></i> Templates</a></li>

  <li><a href="#"><i class="fa fa-camera-retro fa-fw fa-lg"></i> Assets</a></li>

  <li><a href="#"><i class="fa fa-cog fa-fw fa-lg"></i> Settings</a></li>
</ul>