footer {
  background: #efefef;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 160px;
  span {
    display: block;
    color: #999;
    padding-top: 70px;
    font-style: italic;
  }
}