<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      {{#link-to 'frontend' classNames="navbar-brand"}}MomentumCMS Client{{/link-to}}
    </div>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        {{#link-to 'frontend.session' tagName='li'}}<a href='#'>Login</a>{{/link-to}}
      </ul>
    </nav>

  </div><!-- .container -->

</header>