<div class="page-header">
  <h3>Assets</h3>
</div>

{{asset-uploader uploadUrl='/files' uploadParams=controller.uploadParams uploadDataName='file' width='300' height='300' action="fileUploaded" attachTo=controller.model.page deleteAction='deleteFile'}}

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each file in model}}
      <tr>
        <td>
          {{file.title}}
        </td>
        <td>
          {{file.description}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>