<div class="page-header">
  <h3>Assets</h3>
</div>

{{asset-uploader uploadUrl='/files' uploadParams=controller.uploadParams uploadDataName='file'}}

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each asset in model}}
      <tr>
        <td>
          {{asset.title}}
        </td>
        <td>
          {{asset.description}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>