.asset-uploader {
  .plupload-dropelement {
    position: relative;
    width: 100px;
    height: 100px;
    background: #efefef;
    border: 2px dashed darken(#efefef, 10);
    border-radius: 4px;
  }
  .progress {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 85%;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .progress-bar {
    transition: opacity 0.2s ease;
  }
}