form {
  border: 1px solid #efefef;
  padding: 20px;
}

label {
  display: block;
}

input[type="text"], input[type="password"], input[type="email"] {
  border: 1px solid #efefef;
  padding: 6px;
  border-radius: 2px;
  font-size: 14px;
}

input[type="submit"] {
  border: 1px solid #333;
  background: #555;
  color: #fff;
  border-radius: 3px;
  padding: 3px 16px;
  display: inline-block;
}