<header>

  <h1>MomentumCMS Client</h1>

  <ul>
    {{#if authentication.loggedIn}}
      <li>{{#link-to 'admin.account'}}Account{{/link-to}}</li>
      <li>{{#link-to 'admin.dashboard'}}Dashboard{{/link-to}}</li>
      <li><a href="#logout" {{action 'logout'}}>Logout</a></li>
    {{else}}
      <li>{{#link-to 'session'}}Login{{/link-to}}</li>
    {{/if}}
  </ul>

</header>
