<div class='panel panel-default'>
  <div class="panel-body">

    <h4 class="text-center">Admin Login</h4>
    <hr>

    <form {{action 'authenticate' on='submit'}}>

      <div class="form-group">
        <label>Email: </label>
        {{input type='email' value=email}}
      </div>

      <div class="form-group">
        <label>Password: </label>
        {{input type='password' value=password}}
      </div>

      <div class="form-actions">
        <input type="submit" class="btn btn-primary" {{bind-attr value=loginButtonValue}}>
      </div>

    </form>

  </div>
</div>