{{partial 'frontend/layout/header'}}

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 main">
      {{outlet}}
    </div><!-- .main -->
  </div>

</div><!-- .container-fluid -->

{{partial 'frontend/layout/footer'}}
